<div class="main-content content-small">
    <form name="passwordForm">
        <h2 class="form-auth-heading">Change password</h2>

        <label>Old password</label>
        <input type="password" class="form-control" required autofocus ng-model="passwords.oldPassword">

        <label>New password</label>
        <input type="password" class="form-control" required ng-model="passwords.newPassword">

        <label>Confirm password</label>
        <input type="password" class="form-control" required ng-model="passwords.confirmPassword">

        <button ng-disabled="passwordForm.$invalid" class="btn btn-lg btn-primary btn-block"
                ng-click="updatePassword()">
            Save changes
        </button>
    </form>
</div>